Hello <strong>{{ username }}</strong>,
<br />
<p>
    We are excited to have on our website and wish you have a pleasant experience with us.
</p>
<p>
    Your verification code is <strong>{{ code }}</strong> in case you want to verify manually.
</p>
<p>
    Or
</p>
<p>
    You can click <a href="{{ verification_link }}">here</a> to verify immediately.
</p>
<p>
    Do you know that you could do following cool things using your account ?
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</p>
<p>
    Facing issues ? Please explore our community forums <a href="www.google.com">here</a>

    Still struggling ? Please feel free to reach out to our support in case you
</p>

<p>
    Thanks,
    BuildYourTeam
</p>